In [1]:
from pyspark.sql import SparkSession, functions as F

In [2]:
spark = (SparkSession.builder 
         .appName("Hive Source")
         .master("yarn")
         .enableHiveSupport()
         .getOrCreate()
        )

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-02-23 00:32:03,074 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2023-02-23 00:32:05,496 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2023-02-23 00:32:05,502 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2023-02-23 00:32:07,847 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

In [6]:
df = (spark.read.format("csv")
      .option("header", True)
      .option("inferSchema", True)
      .load("hdfs://localhost:9000/user/train/datasets/dirty_store_transaction_clear2.csv"))

In [7]:
df.limit(2).toPandas()

,STORE_ID,STORE_LOCATION,PRODUCT_CATEGORY,PRODUCT_ID,MRP,CP,DISCOUNT,SP,Date
0,YR7220,New York,Electronics,12254943,31,20.77,1.86,29.14,2019-11-26
1,YR7220,New York,Furniture,72619323C,15,9.75,1.50,13.50,2019-11-26

In [12]:
spark.sql("show databases;").show()

+---------+
|namespace|
+---------+
|bookstore|
|  company|
|  default|
|    test1|
+---------+

In [15]:
spark.sql("use test1").show()

++
||
++
++

In [16]:
spark.sql("show tables;").show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|   test1|         advertising|      false|
|   test1|advertising_sales...|      false|
|   test1|              adv_lk|      false|
|   test1|  clean_transactions|      false|
|   test1|             mytable|      false|
+--------+--------------------+-----------+

In [17]:
df.write.format("orc") \
.mode("overwrite") \
.saveAsTable("test1.clean_transactions")

In [18]:
spark.sql("show tables;").show()

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|   test1|         advertising|      false|
|   test1|advertising_sales...|      false|
|   test1|              adv_lk|      false|
|   test1|  clean_transactions|      false|
|   test1|             mytable|      false|
+--------+--------------------+-----------+