In [21]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import * 
from pyspark.sql.functions import when
from pyspark.sql.functions import regexp_replace

In [7]:
spark = SparkSession.builder \
.appName("Odev_4") \
.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/manual/spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
2023-03-01 20:57:03,428 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [9]:
df = (spark.read
.format("csv")
.option("header", True)
.option("inferSchema", True)
.load("file:///home/train/spark/tmdb_5000_movies_and_credits/tmdb_5000_credits.csv"))

In [10]:
df.show()

+--------+--------------------+-------------------+--------------------+
|movie_id|               title|               cast|                crew|
+--------+--------------------+-------------------+--------------------+
|   19995|              Avatar|"[{""cast_id"": 242| ""character"": "...|
|     285|Pirates of the Ca...|  "[{""cast_id"": 4| ""character"": "...|
|  206647|             Spectre|  "[{""cast_id"": 1| ""character"": "...|
|   49026|The Dark Knight R...|  "[{""cast_id"": 2| ""character"": "...|
|   49529|         John Carter|  "[{""cast_id"": 5| ""character"": "...|
|     559|        Spider-Man 3| "[{""cast_id"": 30| ""character"": "...|
|   38757|             Tangled| "[{""cast_id"": 34| ""character"": "...|
|   99861|Avengers: Age of ...| "[{""cast_id"": 76| ""character"": "...|
|     767|Harry Potter and ...|  "[{""cast_id"": 3| ""character"": "...|
|  209112|Batman v Superman...| "[{""cast_id"": 18| ""character"": "...|
|    1452|    Superman Returns|  "[{""cast_id"": 3| ""character"": "...|
|   10764|   Quantum of Solace|  "[{""cast_id"": 1| ""character"": "...|
|      58|Pirates of the Ca...| "[{""cast_id"": 37| ""character"": "...|
|   57201|     The Lone Ranger|  "[{""cast_id"": 4| ""character"": "...|
|   49521|        Man of Steel|  "[{""cast_id"": 2| ""character"": "...|
|    2454|The Chronicles of...|  "[{""cast_id"": 1| ""character"": "...|
|   24428|        The Avengers| "[{""cast_id"": 46| ""character"": "...|
|    1865|Pirates of the Ca...| "[{""cast_id"": 15| ""character"": "...|
|   41154|      Men in Black 3|  "[{""cast_id"": 4| ""character"": "...|
|  122917|The Hobbit: The B...| "[{""cast_id"": 10| ""character"": "...|
+--------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [31]:
df3= df2.withColumn("cast", F.translate(F.col("cast"), "[{+!$'""%&*#+(", "          "))

In [32]:
df3.show()

+--------+--------------------+-------------------+--------------------+
|movie_id|               title|               cast|                crew|
+--------+--------------------+-------------------+--------------------+
|   19995|              Avatar|     cast_id  : 242| ""character"": "...|
|     285|Pirates of the Ca...|       cast_id  : 4| ""character"": "...|
|  206647|             Spectre|       cast_id  : 1| ""character"": "...|
|   49026|The Dark Knight R...|       cast_id  : 2| ""character"": "...|
|   49529|         John Carter|       cast_id  : 5| ""character"": "...|
|     559|        Spider-Man 3|      cast_id  : 30| ""character"": "...|
|   38757|             Tangled|      cast_id  : 34| ""character"": "...|
|   99861|Avengers: Age of ...|      cast_id  : 76| ""character"": "...|
|     767|Harry Potter and ...|       cast_id  : 3| ""character"": "...|
|  209112|Batman v Superman...|      cast_id  : 18| ""character"": "...|
|    1452|    Superman Returns|       cast_id  : 3| ""character"": "...|
|   10764|   Quantum of Solace|       cast_id  : 1| ""character"": "...|
|      58|Pirates of the Ca...|      cast_id  : 37| ""character"": "...|
|   57201|     The Lone Ranger|       cast_id  : 4| ""character"": "...|
|   49521|        Man of Steel|       cast_id  : 2| ""character"": "...|
|    2454|The Chronicles of...|       cast_id  : 1| ""character"": "...|
|   24428|        The Avengers|      cast_id  : 46| ""character"": "...|
|    1865|Pirates of the Ca...|      cast_id  : 15| ""character"": "...|
|   41154|      Men in Black 3|       cast_id  : 4| ""character"": "...|
|  122917|The Hobbit: The B...|      cast_id  : 10| ""character"": "...|
+--------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [28]:
df2= df1.withColumn("cast", F.translate("cast", '"', " "))

In [23]:
df2.show()

+--------+--------------------+-------------------+--------------------+
|movie_id|               title|               cast|                crew|
+--------+--------------------+-------------------+--------------------+
|   19995|              Avatar| [{  cast_id  : 242| ""character"": "...|
|     285|Pirates of the Ca...|   [{  cast_id  : 4| ""character"": "...|
|  206647|             Spectre|   [{  cast_id  : 1| ""character"": "...|
|   49026|The Dark Knight R...|   [{  cast_id  : 2| ""character"": "...|
|   49529|         John Carter|   [{  cast_id  : 5| ""character"": "...|
|     559|        Spider-Man 3|  [{  cast_id  : 30| ""character"": "...|
|   38757|             Tangled|  [{  cast_id  : 34| ""character"": "...|
|   99861|Avengers: Age of ...|  [{  cast_id  : 76| ""character"": "...|
|     767|Harry Potter and ...|   [{  cast_id  : 3| ""character"": "...|
|  209112|Batman v Superman...|  [{  cast_id  : 18| ""character"": "...|
|    1452|    Superman Returns|   [{  cast_id  : 3| ""character"": "...|
|   10764|   Quantum of Solace|   [{  cast_id  : 1| ""character"": "...|
|      58|Pirates of the Ca...|  [{  cast_id  : 37| ""character"": "...|
|   57201|     The Lone Ranger|   [{  cast_id  : 4| ""character"": "...|
|   49521|        Man of Steel|   [{  cast_id  : 2| ""character"": "...|
|    2454|The Chronicles of...|   [{  cast_id  : 1| ""character"": "...|
|   24428|        The Avengers|  [{  cast_id  : 46| ""character"": "...|
|    1865|Pirates of the Ca...|  [{  cast_id  : 15| ""character"": "...|
|   41154|      Men in Black 3|   [{  cast_id  : 4| ""character"": "...|
|  122917|The Hobbit: The B...|  [{  cast_id  : 10| ""character"": "...|
+--------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [40]:
df4 = df3.withColumn("cast", F.trim(F.translate(F.col("cast"), "cast_id:", "          ")))

In [41]:
df4.show()

+--------+--------------------+----+--------------------+
|movie_id|               title|cast|                crew|
+--------+--------------------+----+--------------------+
|   19995|              Avatar| 242| ""character"": "...|
|     285|Pirates of the Ca...|   4| ""character"": "...|
|  206647|             Spectre|   1| ""character"": "...|
|   49026|The Dark Knight R...|   2| ""character"": "...|
|   49529|         John Carter|   5| ""character"": "...|
|     559|        Spider-Man 3|  30| ""character"": "...|
|   38757|             Tangled|  34| ""character"": "...|
|   99861|Avengers: Age of ...|  76| ""character"": "...|
|     767|Harry Potter and ...|   3| ""character"": "...|
|  209112|Batman v Superman...|  18| ""character"": "...|
|    1452|    Superman Returns|   3| ""character"": "...|
|   10764|   Quantum of Solace|   1| ""character"": "...|
|      58|Pirates of the Ca...|  37| ""character"": "...|
|   57201|     The Lone Ranger|   4| ""character"": "...|
|   49521|        Man of Steel|   2| ""character"": "...|
|    2454|The Chronicles of...|   1| ""character"": "...|
|   24428|        The Avengers|  46| ""character"": "...|
|    1865|Pirates of the Ca...|  15| ""character"": "...|
|   41154|      Men in Black 3|   4| ""character"": "...|
|  122917|The Hobbit: The B...|  10| ""character"": "...|
+--------+--------------------+----+--------------------+
only showing top 20 rows

In [48]:
df5 = df4.withColumn('crew', 
                   when(df4.crew.contains('""character"":'),regexp_replace(df4.crew,'""character"":','')) \
                  .otherwise(df4.crew))

In [49]:
df5.show()

+--------+--------------------+----+--------------------+
|movie_id|               title|cast|                crew|
+--------+--------------------+----+--------------------+
|   19995|              Avatar| 242|      ""Jake Sully""|
|     285|Pirates of the Ca...|   4|  ""Captain Jack ...|
|  206647|             Spectre|   1|      ""James Bond""|
|   49026|The Dark Knight R...|   2|  ""Bruce Wayne /...|
|   49529|         John Carter|   5|     ""John Carter""|
|     559|        Spider-Man 3|  30|  ""Peter Parker ...|
|   38757|             Tangled|  34|  ""Flynn Rider (...|
|   99861|Avengers: Age of ...|  76|  ""Tony Stark / ...|
|     767|Harry Potter and ...|   3|    ""Harry Potter""|
|  209112|Batman v Superman...|  18|  ""Bruce Wayne /...|
|    1452|    Superman Returns|   3|  ""Superman / Cl...|
|   10764|   Quantum of Solace|   1|      ""James Bond""|
|      58|Pirates of the Ca...|  37|  ""Captain Jack ...|
|   57201|     The Lone Ranger|   4|           ""Tonto""|
|   49521|        Man of Steel|   2|  ""Clark Kent / ...|
|    2454|The Chronicles of...|   1|  ""Prince Caspian""|
|   24428|        The Avengers|  46|  ""Tony Stark / ...|
|    1865|Pirates of the Ca...|  15|  ""Captain Jack ...|
|   41154|      Men in Black 3|   4|         ""Agent J""|
|  122917|The Hobbit: The B...|  10|   ""Bilbo Baggins""|
+--------+--------------------+----+--------------------+
only showing top 20 rows

In [50]:
df6= df5.withColumn("crew", F.translate("crew", '"', " "))

In [53]:
df6.toPandas().head(10)

,movie_id,title,cast,crew
0,19995,Avatar,242,Jake Sully
1,285,Pirates of the Caribbean: At World's End,4,Captain Jack Sparrow
2,206647,Spectre,1,James Bond
3,49026,The Dark Knight Rises,2,Bruce Wayne / Batman
4,49529,John Carter,5,John Carter
5,559,Spider-Man 3,30,Peter Parker / Spider-Man
6,38757,Tangled,34,Flynn Rider (voice)
7,99861,Avengers: Age of Ultron,76,Tony Stark / Iron Man
8,767,Harry Potter and the Half-Blood Prince,3,Harry Potter
9,209112,Batman v Superman: Dawn of Justice,18,Bruce Wayne / Batman

In [54]:
df6.createTempView("movie_table")

In [80]:
df6.write.csv("file:////home/train/datasets/credit.csv", header=True)